<div id="plugdetroit" class="page-width" style="padding-top: 30px;padding-bottom:50px;display: inline-block;float: right;">
  <a href="http://plugdetroit.com/" target="_blank">
    <img src="{{'plug-logo.png' | asset_img_url: '200x'}}" alt="Powered by Plug Detroit" height="46">
  </a>
</div>